<h2>Random</h2>

<ul>

    <li>
      <div class = "outerbox">
        <div class = "colorbox" style="background-color: <%= colors[random].keyword %>">
        </div>
        <div class = "description">
          <p class = "name">
            <%= colors[random].category %>
          </p>
          <p class = "hex">
            <%= colors[random].hex %>
          </p>
        </div>
      </div>
   </li>
</ul>
