<h2> Colors </h2>


<ul>
  <% colorsdb.forEach((oneColor) => { %>
    <li>
      <div style="background-color: <%= oneColor.keyword %>"> </div>
      <p>  <%= oneColor.keyword %><br /><%= oneColor.hex %> </p>
    </li>

  <% }); %>

</ul>
