<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Color App</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1> Color App </h1>
      <nav>
        <a href="/"> Home </a>
        <a href="/colors"> Colors </a>
        <a href="/green"> Green </a>
        <a href="/blue"> Blue </a>
        <a href="/purple"> Purple </a>
      </nav>
    </header>

      <%- body -%>


    <footer>
      <p>
        Made with ❤️ from Rachelle & Jamilet
      </p>
    </footer>

    <script src="/js/front-end.js"></script>
  </body>
</html>
