<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1> Colorfull </h1>
    <nav>
      <a href="/"> Home </a>
      <a href="/colors"> List of Colors </a>
      <a href="/beige"> Beige Colors </a>
      <a href="/pink"> Pink Colors </a>
      <a href="/grayscale"> Grayscale Colors </a>
      <a href="/random"> Random Color </a>
    </nav>
  </header>

    <%- body %>


  <footer>

  </footer>

</body>
</html>
